<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jqk.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.jqk.pojo.Post" >
    <id column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="post_name" property="postName" jdbcType="VARCHAR" />
    <result column="post_sort" property="postSort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="statusValue" javaType="com.jqk.pojo.Status">
      <id column="status_id" property="statusId" jdbcType="INTEGER" />
      <result column="status_name" property="statusName" jdbcType="VARCHAR" />
      <result column="status_value" property="statusValue" jdbcType="CHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    post_id, post_code, post_name, post_sort, status, create_by, create_time, update_by, 
    update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_post
    where post_id = #{postId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_post
    where post_id = #{postId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jqk.pojo.Post" >
    insert into sys_post (post_id, post_code, post_name, 
      post_sort, status, create_by, 
      create_time, update_by, update_time, 
      remark)
    values (#{postId,jdbcType=BIGINT}, #{postCode,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, 
      #{postSort,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jqk.pojo.Post" >
    insert into sys_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="postName != null" >
        post_name,
      </if>
      <if test="postSort != null" >
        post_sort,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postSort != null" >
        #{postSort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jqk.pojo.Post" >
    update sys_post
    <set >
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postSort != null" >
        post_sort = #{postSort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jqk.pojo.Post" >
    update sys_post
    set post_code = #{postCode,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      post_sort = #{postSort,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=BIGINT}
  </update>

  <select id="query" resultMap="BaseResultMap" parameterType="com.jqk.pojo.Post">
    SELECT
    sys_status.*,
    sys_post.*
    FROM
    sys_status
    INNER JOIN sys_post ON sys_status.status_value = sys_post.status

    <trim prefix=" where" suffix=" " suffixOverrides="and">
      <if test="postName!='' and postName!=null">
        post_name = #{postName,jdbcType=VARCHAR} and
      </if>
      <if test="postCode!='' and postCode!=null">
        post_code=#{postCode} and
      </if>
      <if test="status!='' and status!=null">
        status=#{status} and
      </if>
    </trim>
  </select>

  <!--查询状态-->
  <select id="queryStatus" resultMap="BaseResultMap" parameterType="com.jqk.pojo.Post">
    SELECT
    sys_status.status_id,
    sys_status.status_name,
    sys_status.status_value,
    sys_post.status
    FROM
    sys_status
    INNER JOIN sys_post ON sys_status.status_value = sys_post.`status`
  </select>

  <!--批量删除-->
  <delete id="deleteAll" >
    delete from sys_post
    <trim prefix=" where">
      post_id in (
      <foreach collection="list" item="x" separator=",">
        #{x}
      </foreach>
      )
    </trim>
  </delete>
</mapper>