<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jqk.mapper.StatusMapper" >
  <resultMap id="BaseResultMap" type="com.jqk.pojo.Status" >
    <id column="status_id" property="statusId" jdbcType="INTEGER" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="status_value" property="statusValue" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    status_id, status_name, status_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_status
    where status_id = #{statusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_status
    where status_id = #{statusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jqk.pojo.Status" >
    insert into sys_status (status_id, status_name, status_value
      )
    values (#{statusId,jdbcType=INTEGER}, #{statusName,jdbcType=VARCHAR}, #{statusValue,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jqk.pojo.Status" >
    insert into sys_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="statusValue != null" >
        status_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statusId != null" >
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="statusValue != null" >
        #{statusValue,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jqk.pojo.Status" >
    update sys_status
    <set >
      <if test="statusName != null" >
        status_name = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="statusValue != null" >
        status_value = #{statusValue,jdbcType=CHAR},
      </if>
    </set>
    where status_id = #{statusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jqk.pojo.Status" >
    update sys_status
    set status_name = #{statusName,jdbcType=VARCHAR},
      status_value = #{statusValue,jdbcType=CHAR}
    where status_id = #{statusId,jdbcType=INTEGER}
  </update>
</mapper>